{% extends 'nav.html' %}
{% load static %}
{% block content %}
    <div class="breadcrumb">
  	<ul>
   		<li><a href="/">HOME</a></li>
    	<li>About Us</li>
  	</ul>
</div>
<div class="inner-banner about" data-parallax="scroll" data-image-src="{% static 'img/about-bg.jpg'%}">
</div>

<div class="inner-wrap">
  	<div class="inner-heading">
   		<h3>ABOUT US</h3>
  	</div>
    
    
  	<div class="tabwrap">
    	<div class="tabnav">
     		<ul>
       			<li><a id="AClass" href="javascript:;.html" onclick="changeTab(1)" class="active">Gold Bazel</a></li>
        		<li><a id="BClass" href="javascript:;.html" onclick="changeTab(0)">CSR</a></li>
      		</ul>
    	</div>
        
    	<div class="tab-content">
      		<div id="ABOUT" class="tab" style="display: block;">
     			<div class="content"> 
       	  			<h2>Experience More with Gold Bazel</h2>
       				We travel the world in search of the finest teas and our blends reflect the diversity of cultures, regions, tastes and experiences.<br>
        			Enjoy the finest flavors of tea from around the world, handpicked and crafted for those who love tea. 
        		</div>
      			<div class="features">
        			<div class="col-tbl">
          				<h4>THE LITTLE THINGS</h4>
          				<p>Something as simple as a cup of tea can inspire your imagination; it can be a moment of reflection and relaxation, the right drink to catch up with a friend on. Grab every opportunity and take time to savour your tea, your ‘me’ moments.</p>
          				<img src="{% static 'img/little-things.svg'%}">
          			</div>
        			<div class="col-tbl">
          				<h4>TURN UP YOUR SENSES</h4>
          				<p>The  flavours and aromas of our teas and infusions, sourced from all over the world are designed to enhance the experience of every sip you take. The smell of a rose garden or a freshly mowed lawn in summer. Exotic, foreign lands or homely comforts. A familiar friend every morning. A comforting pick me up in the afternoon. We all have a personal story about tea. </p>
          				<img src="{% static 'img/turn-up-senses.svg'%}"> 
          			</div>
        			<div class="col-tbl">
          				<h4>CRAFTED WITH PASSION</h4>
          				<p>Gold Bazel has become one of the India's most loved tea companies. because we never stop learning, experimenting and inventing. 
            			Our expert blenders have been constantly perfecting their craft and have years of combined experience and unrivalled expertise. They pay attention to details that matter, from sourcing and selection to blending. That is how you get the perfect cup of tea. Every time.</p>
          				<img src="{% static 'img/crafted-with-passion.svg' %}">
      				</div>
      			</div>
    		</div>
  		</div>


	</div>


    <div id="CSR" class="one-tab last" style="display: none;">
		<div class="method column" style="margin: 0px;">
			<div class="inner-wrap">
				<ul>
                    {% for value in csrs %}
					<li>
    				{% if forloop.counter|divisibleby:2 %}		 <div class="content-part">
					
              <p>{{value.description}}</p>
						</div>
                        {% endif %}
						<div class="img-sec">
							<img  src="{{value.image.url}}" alt="" title="" />
						</div>
                        {% if not forloop.counter|divisibleby:2 %}      <div class="content-part">
					
              <p>{{value.description}}</p>
						</div>{% endif %}
					</li>
                    
                    {% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
</div>

<script>
   function changeTab( i){
        if(i ==0){
            document.getElementById('ABOUT').style="display:none";
            document.getElementById('CSR').style="display:block";
            document.getElementById('AClass').classList.remove('active');
            document.getElementById('BClass').classList.add('active');
        }else{
            document.getElementById('CSR').style="display:none";
            document.getElementById('ABOUT').style="display:block";
            
            document.getElementById('AClass').classList.add('active');
            document.getElementById('BClass').classList.remove('active');
        }
    }
</script>



{% endblock %}