<!DOCTYPE html>
<html lang="en-gb">
  <head><meta http-equiv="content-type" content="text/html;charset=utf-8">
  
    <!-- OneTrust Cookies Consent Notice start for twiningsindia.com -->
    <script type="text/javascript" src="js/7a4c8a68-0cf5-4365-b479-071c5fe2a305-OtAutoBlock.js"></script>
    <script src="js/scripttemplates-otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="7a4c8a68-0cf5-4365-b479-071c5fe2a305"></script>
    <script type="text/javascript">
    function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end for twiningsindia.com -->
    <title>Know everything about London Fashion Event | Twinings</title>
		<meta name="description" content="This summer, look out for these five London Fashion Designers at the London Fashion Events and explore their new marvelous collection. Recognized as budding designers, these fashion artists unveil some exclusive designs and patterns that are worth admiring.">
	    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/css-reset.css" type="text/css">
    <link rel="stylesheet" href="css/css-layerslideraafb.css" type="text/css">
    <link rel="stylesheet" href="css/css-style.css" type="text/css">
    <link rel="stylesheet" href="css/css-jquery.mCustomScrollbar.min.css" type="text/css">


    <link rel="stylesheet" href="https://rawgit.com/kenwheeler/slick/master/slick/slick.css">
    <link rel="stylesheet" href="https://rawgit.com/kenwheeler/slick/master/slick/slick-theme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css">

    <!--<script src="https://www.google.com/recaptcha/api.js" async defer></script>-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117672981-1"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- Angular js -->
    <script type="text/javascript" src="js/js-angular.min.js"></script>
    <script type="text/javascript" src="js/js-angular-route.min.js"></script>
    <script src="js/1.6.4-angular-sanitize.js"></script>
    <script type="text/javascript" src="js/js-dirPagination.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117672981-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117672981-1', {
     
      'linker': {
     
        'domains': ['amazon.in']
     
      }
     
    });
    </script>
  

  </head><body class="site parallax-slider" ng-app="AngularModel" ng-controller="AngularController">
    <input type="hidden" id="site_url" value="https://www.twiningsindia.com/">
    <!-- Fixed navbar -->
    <div class="circle"></div>
    <div class="menu mm"> </div>
    <nav id="topbar" class="navbar" role="navigation">
      <div class="navbar--center"> 
        <div class="burger">
          <div class="x"></div>
          <div class="y"></div>
          <div class="z"></div>
        </div>
        <div class="logo"><a href="www.twiningsindia.html"><img src="images/Parallax-Slider-logo.png" alt="twinings"></a></div>
        <ul class="nav navbar-nav">
          <li class="item-117"><a href="about-us.html">ABOUT</a></li>
          <li class="item-145"><a href="our-teas.html">OUR TEAS</a></li>
          <li><a href="recipes.html">TEA RECIPES</a></li>
          <li class="item-169"><a href="london-life.html">LONDON LIFE</a></li>
          <li class="item-170"><a href="whats-new.html">WHAT'S NEW</a></li>
          <li class="item-170"><a href="contact-us.html">CONTACT US</a></li>
          <li class="item-170"><a href="https://www.amazon.in/stores/page/85291E59-0FA4-4146-907B-26DBB9A1BD31?_ga=2.135914551.766587381.1537445273-1193347235.1525414509" target="_blank">SHOP NOW</a></li>
        </ul>
      </div>
    </nav><div class="breadcrumb">
  <ul>
    <li><a href="www.twiningsindia.html">HOME</a></li>
    <li><a href="london-life.html">The London life</a></li>
    <li>Five London Fashion Designers to Watch for 2018</li>
  </ul>
</div>
<div class="inner-wrap">
	<div class="page-heading">
		<h3>Five London Fashion Designers to Watch for 2018</h3>
		<h5>By Joanne Shurvell, London Lifestyle Correspondent | 22 March 2018</h5>
		<div class="pro-img column">
			<img src="images/uploadimage-Five-London-Fashion-Designers-to-Watch-for-banner.jpg" class="img-responsive" alt="" title="">
		</div>
		<h6>Ridley London, theo vii, Roberta Einer, Spring/Summer 2018</h6>

<p>London's semi-annual fashion week is an excellent hunting ground for brilliant new designers. The Spring/Summer 2018 presentations highlighted London-based new talents who've emerged in the last couple of years.</p>

<p>Tallinn, Estonia native <strong>Roberta Einer</strong> worked as an assistant designer at Balmain following fashion college. For her SS18 collection, Einer uses traditional couture techniques in a vibrant, modern way and adds embroidery and embellishments to jackets, trousers and skirts.</p>

<p><a href="https://www.robertaeiner.com/" target="_blank">https://www.robertaeiner.com/</a></p>

<p>I absolutely love <strong>Ridley’s</strong> pretty floral silk dresses in maxi and cocktail length. Launched in 2016 by Londoner Camilla Ridley, each item is individually hand cut and sewn in England. Ready to wear options are available via the website or at her west London shop but each item can be tailored to your requirements too. I have my eye on a gorgeous ivory floral silk maxi dress with a rouched neckline and rouched elasticated waist that creates a flattering line. Pair with statement heels for evening glamour or dress down with flats or cool trainers.</p>

<p><a href="https://ridleylondon.com/" target="_blank">https://ridleylondon.com/</a></p>

<p>Theo vii, established in 2015, breaks down gender barriers by combining menswear and womenswear. The three founders of the label, Yui Ding, Miao Ho and Tan Xue Yi took their inspiration for their SS18 collection from Massai culture. Silhouettes are loose and flowing with sheets of cloth in stripes and checks, wrapped around the body. Red, a key Massai color features, along with cobalt blue and monochrome black and white. And this season they've added footwear and accessories.</p>

<p><a href="http://www.theoviistudio.com/" target="_blank">http://www.theoviistudio.com/</a></p>

<p>London-based footwear brand <strong>Malone Souliers</strong> was created by Roy Luwolt and Mary Alice Malone, a former dressage rider who was on the US Junior Olympic Equestrian Team. With a background in furniture-making, welding, carpentry and upholstery, Mary Alice turned to shoe design following her studies at the London College of Fashion. Her SS18 collection of boots, heels and flats in a variety of shapes, materials and colors are being snapped up by her legion of celebrity fans including Beyonce’s little sis, Solange Knowles, Lupita Nyong'o and Girls actress Jemima Kirke.</p>

<p><a href="http://malonesouliers.com/" target="_blank">http://malonesouliers.com/</a></p>

<p>Central Saint Martin’s fashion college graduate Xuzhi Chen’s brand Xu Zhi is definitely one to watch. Xuzhi Chen’s womenswear design talents are being recognised within the industry with his selection as a contestant for this year’s LVMH Prize for young designers and he already has great stockists including Dover Street Market in London and Opening Ceremony in New York.</p>

<p><a href="http://www.xuzhi.co.uk/" target="_blank">http://www.xuzhi.co.uk/</a></p>
	</div>
</div><footer>
  <div class="footer-arrow"><img src="images/images-footer-arrow.png"></div>
  <div class="wrap">
    <div class="head">
      <h6> <span class="left"></span> Connect with us <span class="right"></span> </h6>
    </div>
     <div class="social">
              <ul>
                 <li><a href="https://www.facebook.com/TwiningsIndia" target="_blank" class="fb">Facebook</a></li>
                 <li><a href="https://twitter.com/twiningsindia" target="_blank" class="twitter">Twitter</a></li>
                 <li><a href="https://www.instagram.com/twiningsindia/" target="_blank" class="insta">Instagram</a></li>
                 <li><a href="https://www.youtube.com/user/TwiningsIndia" target="_blank" class="pin">Pinit</a></li> 
              </ul>
  </div>
    <div class="newsletter">
		<label>SIGN-UP FOR TEAMAILS</label>
		<div class="{{ result }} alert">{{ result_subscription_message }}</div>
		<input type="text" value="Your Email Address" id="subscriptionemail" class="inputxt nt">
		<button type="button" class="btn-arrow" ng-click="submitSubscription()"><i class="ion-arrow-right-c"></i></button>
    </div>

    <div class="footer-add">
      <p>Corporate Office: 514, 5th Floor, Bestech Chambers, Block-B, Sushant Lok- Phase-1, Sector-27, Gurgaon – 122002, Haryana</p>
    </div>  
    
    <div class="copyright"> © 2018 R. Twining and Company Limited. </div>
  </div>
</footer>
<!-- <div class="cookie-notification">
  <div class="container">
    <div class="txt">We use cookies on twiningsindia.com to ensure that we can give you the very best experience. To find out more about how we use cookies, please visit the <a href="/cookie-policy">cookie policy</a> page</div>
    <div class="cta"><a href="javascript:;" onclick="cookieAccept()">Close</a></div>
  </div>
</div> -->

<script src="js/js-jquery-3.3.1.min.js" type="text/javascript"></script> 
<script src="js/js-greensockb3a6.js" type="text/javascript"></script> 
<script src="js/js-TweenMax.min.js" type="text/javascript"></script> 
<script src="js/js-layerslider.kreaturamediaaafb.js" type="text/javascript"></script> 
<script src="js/js-layerslider.transitionsaafb.js" type="text/javascript"></script> 
<script src="js/js-parallax.min.js" type="text/javascript"></script> 
<script data-cfasync="false" src="js/js-custom.js" type="text/javascript"></script>
<script src="js/pages-app.js" type="text/javascript"></script>


<style>
	.success.alert {
		color: green;
	}
	.error.alert {
		color: red;
	}
	.error.alert {
		color: red;
	}
	.errormsg{
		color: red;
		float:left;
		text-align: left;
	}
 </style>


</body>
</html>
