
{% extends 'nav.html' %}
{% load static %}
{% block content %}
	<div class="breadcrumb">
	<ul>
		<li><a href="www.twiningsindia.html">HOME</a></li>
		<li>OUR TEAS</li>
	</ul>
</div> 
<div class="inner-banner" style="background-size:200px, contain;top:0" data-parallax="scroll" data-image-src="{% static 'img/tea.gif'%}" style="height: 300px;">
</div>

<div class="inner-wrap">
	<div class="inner-heading">
	    <h3><em>“Tea time is a chance to slow down, pull back and appreciate our surroundings.”</em><br><span>-Letitia Baldrige</span></h3>
	    <div class="desc">Explore our selection of premium black, green and herbal teas. Because there is nothing quite like a freshly brewed cup of tea to get you going... </div>
	</div>

	<div class="tabwrap">
		<div class="tabcontent active">
			<div class="sortproduct">
		        <ul>
		          <li><a href="javascript:;.html" class="active">All</a></li>
				  {% for value in tags %}
		          <li><a href="javascript:;.html" class="">{{value.title}}</a></li>
				  
				  {% endfor %}
		          		        </ul>
	      	</div>
	      	<div class="prd-holder">
	      		<ul>
	      				
					

{% for value in products %}
			      		      			<li>
				      	<div class="thumb"><img src="{{value.image.url}}"></div>
					      	<div class="title">{{value.title}}</div>
					      						      	<div class="desc">{{value.description}}</div>
					      						      	<div class="button-holder">
					      		
					      	<a href="{{value.shop_link}}" target="_blank" class="btn">BUY ONLINE</a>
					        
					      						      	<a href="/product/{{value.pk}}" class="btn">KNOW MORE</a>
					      					      	</div>
			      	</li>

{% endfor %}

			      		      		</ul>
	      	</div>
		</div>
	</div>
</div>
{% endblock %}